body {
    background-image: url("F:\python_programs\siva\Module6_WebDevelopmentWithPython\djangoproject1\staticfiles\images\job_search.jpg");
    background-size: cover;
    background-position: center;
  }
  